Binaries
DerivedDataCache
Intermediate
Saved
PSOCollection
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Maps/Main_BuiltData.uasset
Content/Maps/MainMenu_BuiltData.uasset
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Map/Main_BuiltData.uasset
